html{background-color: black;}
h1{color: white; 
    font-family: "Libre Baskerville", serif;
font-size: 50px;
text-align: center;
}
h2{
    color: white;
    text-align: center;
    font-size: 50px;
}
p{color: white;}
.meme{

font-family: "Libre Baskerville", serif;
height: 100px;
text-align: center;
margin-bottom: 10px;
margin: 10%;
margin-top: 1px;
}
.border{
    border: 10px solid white;
}
